/* Basic styling */


/* Carousel container */
.carousel {
  margin: 100px auto;
  width: 90%;
  display: flex;
 overflow-x: auto;
/* gap: 1em;*/
  /*scrollbar-width: none; */
}

.carousel::-webkit-scrollbar {
  display: none;
}

/* Group wrapper */
.group {
  display: flex;
  animation: spin 5s linear infinite;
  padding-right: 1em;
    justify-content: center;
  align-items: center;
  gap: 1em;
  padding-right: 1em;
}

/* Cards inside each group */
.card {
  flex: 0 0 5em;
  height: 5em;
  padding: 1em;
  background: rgb(68, 27, 40);
 /* margin-right: 3rem;*/
  color: rgb(251, 246, 246);
  font-size: 3rem;
  border-radius: .2em;
  text-align: center;
  align-content: center;
}

/* Keyframes animation */
@keyframes spin {
  from {
    translate: 0;
  }
  to {
    translate: -100%; 
  }
}

body, html, #app {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  touch-action: none;
}

#app {
  height: 100%;
  font-family: "Montserrat", serif;
}

#canvas {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.buttons {
  position: fixed;
  width: 100%;
  bottom: 15px;
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

button, a {
  color: black;
  font-family: "Montserrat", serif;
  font-size: 12px;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  border: 1px solid grey;
  padding: 4px 8px;
}
